################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NovidadesCSharp12/obj/Debug/net8.0
